/*
 * Author: Joshua Tuffnell, Andrew Choi
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #bec8cd;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 16px;
}
.stress {
  font-weight: bold;
}

/*Header*/
.header {
  width: 100%;
  color: #bec8cd;
}
.header a {
  color: #bec8cd;
  font-size: 20px;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
}
.header a:hover,
.header a:active,
.header a:focus
{
  color: white;
}
  .navbarTop {
    height: 75px;
    background-color: #051b24;
    display: flex;
    justify-content: space-between;
  }
    .userLinks {
      margin-top: 25px;
      margin-right: 25px;
      display: flex;
    }

  .navbarBottom {
    height: 75px;
    background-color: #36525d;
  }
    .links {
      width: 80%;
      margin: 0 auto;
      padding-top: 25px;
      display: flex;
      justify-content: space-between;
    }
.contentBody {
  height: auto;
  margin: 0 auto;
}

/*Home*/
#home {
  height: 500px;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: #051b24;
  background-image: linear-gradient(to bottom, RGB(190, 200, 205, .7), RGB(190, 200, 205, .7)), url(../assets/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#home h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
#home h2 {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  font-size: 30px;
}
#home a {
  color: #0044cc;
  font-size: 30px;
  text-decoration: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
#home a:hover,
#home a:active,
#home a:focus
{
  color: #46b8da;
}
/*Products*/
#product {
  height: auto;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #051b24;
  text-align: center;
}
#shoppingcart {
  height: auto;
  width: 100%;
  padding-top: 100px;
  color: #051b24;
  text-align: center;
}

#product h1,
#shoppingcart h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
#product h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
#shoppingcart h2 {
  font-size: 30px;
  margin-top: 80px;
}
#product input {
  height: 50px;
  margin-bottom: 50px;
  width: 700px;
  border: 3px solid  #36525d;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 5px;
}
#product input#Submit {
  font-size: 16px;
  width: 150px;
}
#product table.productlist,
#shoppingcart table.productlist {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 16px;
  font-size: 24px;
  padding: 5px;
}
#product table.productlist td,
#shoppingcart table.productlist td {
  padding: 4px;
  padding-top: 20px;
  vertical-align: top;
}
#product table.productlist tr.firstRow,
#shoppingcart table.productlist tr.firstRow {
  font-size: 30px;
  height: 50px;
  border-bottom: 3px solid  #36525d;
  color: #36525d;
}
#product table.productlist a,
#shoppingcart table.productlist a {
  font-size: 25px;
  text-decoration: none;
  text-align: right;
  color: #0044cc;
}
#product table.productlist a:hover,
#product table.productlist a:active,
#product table.productlist a:focus,
#shoppingcart table.productlist a:hover,
#shoppingcart table.productlist a:active,
#shoppingcart table.productlist a:focus
{
  color: #46b8da;
}
#product table.productlist td img,
#shoppingcart table.productlist td img {
  border: 1px solid  #36525d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#product table.productlist th.col2,
#shoppingcart table.productlist th.col2 {
  width: 400px;
}
#product table.productlist th.col3,
#shoppingcart table.productlist th.col3 {
  width: 400px;
}
#product table.productlist th.col4,
#shoppingcart table.productlist th.col4 {
  width: 200px;
}
#productDetails {
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #051b24;
}
#productDetails h2 {
  font-size: 30px;
  margin-bottom: 50px;
}
#productDetails table.productdetails {
  width: 90%;
  border-collapse: collapse;
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 16px;
  font-size: 24px;
  padding: 5px;
  text-align: left;
}
#productDetails table.productdetails td {
  vertical-align: top;
}
#productDetails table.productdetails td.col1 img {
  width: 500px;
  border: 3px solid  #36525d;
}
#productDetails table.productdetails td.col2 {
  width: 175px;
}
#productDetails table.productdetails td.col3 {
  width: 500px;
}
.adminEdit {
  width: 250px;
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}
.useroptions {
  width: 400px;
  position: absolute;
  right: 0;
  margin-right: 50px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;

}
.adminEdit p,
.useroptions p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #051b24;
  font-size: 20px;
}
.adminEdit a, 
.useroptions a
{
  color: #0044cc;
  font-size: 20px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.adminEdit a:hover,
.adminEdit a:active,
.adminEdit a:focus,
.useroptions a:hover,
.useroptions a:active,
.useroptions a:focus
{
  color: #46b8da;
}
/*User*/
#user {
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: #051b24;
}
#user h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
#user table.userdetails {
  width: 40%;
  border-collapse: collapse;
  margin: 0 auto;
  margin-right: 25%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-bottom: 50px;
  font-size: 24px;
  padding: 5px;
  text-align: left;
}


#form {
  height: auto;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 125px;
  color: #051b24;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#shoppingform {
  height: auto;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 125px;
  color: #051b24;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#form h1 {
  font-size: 50px;
  margin-bottom: 75px;
}
#form p {
  font-size: 24px;
}
#form a {
  font-size: 25px;
  text-decoration: none;
  color: #0044cc;
}
#form a:hover,
#form a:active,
#form a:focus
{
  color: #46b8da;
}
#form input,
#contact input,
#shoppingform input {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 5px;
  border: 3px solid  #36525d;
}
#form input.Submit,
#contact input.Submit,
#shoppingform input.Submit {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 50px;
}
.formRowSingle,
.formRowDouble, 
.formRowTriple {
  height: 40px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.formRowSingle input,
.formRowSingle select {
  width: 75%;
}
.formRowDouble input,
.formRowDouble select {
  width: 30%;
}
.formRowTriple input,
.formRowTriple select {
  width: 15%;
}
.formRowTextarea {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.formRowTextarea textarea {
  width: 90%;
  margin-left: 20px;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-left: 5px;
  border: 3px solid  #36525d;  
}


/*About*/
#about {
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 100px;
  color: #051b24;
}
#about table {
  width: 80%;
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 75px;
}
#about tr {
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}
#about td {
  width: 450px;
  display: flex;
}
#about h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
#about img {
  border-radius: 200px;
}
  #aboutText {
    max-width: 225px;
    display: flex;
    flex-direction: column;
  }
    #about h2 {
      text-align: left;
      font-size: 30px;
      margin-left: 15px;
    }
    #about p {
      text-align: left;
      font-size: 24px;
      margin-left: 15px;
    }

/*Contact*/
#contact {
  height: auto;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  margin-bottom: 125px;
  color: #051b24;
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#contact h1 {
  font-size: 50px;
  margin-bottom: 50px;
}
#contact p {
  font-size: 24px;
}
/*Error*/
.error {
  height: 300px;
}
/*Footer*/
.footer {
  height: 200px;
  width: 100%;
  background-color: #36525d;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
.footer p {
  color: #bec8cd;
  font-size: 20px;
}